**.tgz

# doc build environment and artifacts
doc/build
doc/source/_build
.tox/

# IDE files
.vscode/
.idea/

tools/deployment/vagrant/.vagrant

# Helm dependencies lock file
Chart.lock

# ignore any added internal certs for ubuntu-build
tools/gate/jarvis/ubuntu-base/internal-certs/
