{{- define "secret-webhook-certs" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-certs
  namespace: {{ $.Release.Namespace }}
  labels: {{- include "helpers.labels.labels" (dict "Global" $) | nindent 4 }}
# The data is populated at install time.
...
{{- end -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "secret-webhook-certs" ) }}
