{{- define "validatingwebhookconfiguration-webhook-validation" -}}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validation.webhook.pipeline.tekton.dev
  labels: {{- include "helpers.labels.labels" (dict "Global" $) | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1beta1
  clientConfig:
    service:
      name: tekton-pipelines-webhook
      namespace: {{ $.Release.Namespace }}
  failurePolicy: Fail
  sideEffects: None
  name: validation.webhook.pipeline.tekton.dev
...
{{- end -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "validatingwebhookconfiguration-webhook-validation" ) }}
