---
- hosts: localhost
  tasks:
    - name: Get list of repos to clone
      shell: "jq -c '.[] | select(.build_from_source) |  {build: .build}' {{ loop_source }} | sort | uniq"
      register: data

    - set_fact:
        clone_async_batch_size: 20
        stage: "default"

    - name: Run git clone task
      include_tasks: ./roles/git/tasks/main.yaml
      when: data.stdout_lines |length > 0
      loop: "{{ data.stdout_lines | map('from_json') | batch(clone_async_batch_size) | list }}"
      loop_control:
        loop_var: "repos"
