{{- define "Secret-gerrit" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "helpers.labels.fullname" . }}-gerrit
  labels: {{- include "helpers.labels.labels" . | nindent 4 }}
data:
  gerrit-authfile: "{{ b64enc ( printf "%s:%s" .Values.params.gerrit.user .Values.params.gerrit.password ) }}"
  gerrit-netrc: "{{ b64enc ( printf "machine %s login %s password %s" "gerrit.jarvis.local" .Values.params.gerrit.user .Values.params.gerrit.password ) }}"
...
{{- end -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "Secret-gerrit" ) }}