- set_fact:
    _async: "{{ chart_async | default(600) }}"
    _delay: "{{ chart_check_status_delay | default(5) }}"
  when: ( stage == "promote_chart")

- set_fact:
    _async: "{{ image_async | default(1200) }}"
    _delay: "{{ image_check_status_delay | default(20) }}"
  when: ( stage == "promote_image")

- name: Promote Chart
  when: ( stage == "promote_chart")
  block:
    - name: Install Plugin
      shell: helm plugin update push || helm plugin install https://github.com/chartmuseum/helm-push || true

    - name: Pull down Helm Chart
      shell: helm pull "{{ chart.project }}-staging/{{ chart.chart_name }}" --version="{{ chart.version }}"
      loop: "{{ items }}"
      loop_control:
        loop_var: "chart"
      async: "{{ _async }}"
      poll: 0
      register: pull_async_results

    - name: Wait for helm pull results
      vars:
        async_results: "{{ pull_async_results }}"
      include_tasks: ./roles/common/tasks/check_sync_status.yaml

    - name: Push charts to Helm registry
      command: helm push "{{ chart.chart_name }}-{{ chart.version }}".tgz "{{ chart.project }}"
      loop: "{{ items }}"
      loop_control:
        loop_var: "chart"
      async: "{{ _async }}"
      poll: 0
      register: push_async_results

    - name: Wait for helm push results
      vars:
        async_results: "{{ push_async_results }}"
      include_tasks: ./roles/common/tasks/check_sync_status.yaml
  become: true

- name: Promote Image
  when: ( stage == "promote_image")
  block:
    - name: Pull image from staging repo
      docker_image:
        pull: true
        name: "{{ docker_registry }}/{{ image.project }}-staging/{{ image.repo }}:{{ image.tag }}"
      loop: "{{ items }}"
      loop_control:
        loop_var: "image"
      async: "{{ _async }}"
      poll: 0
      register: image_pull_async_results

    - name: Wait for docker pull results
      vars:
        async_results: "{{ image_pull_async_results }}"
      include_tasks: ./roles/common/tasks/check_sync_status.yaml

    - name: Tag and push to promotion repository
      docker_image:
        push: true
        name: "{{ docker_registry }}/{{ image.project }}-staging/{{ image.repo }}"
        repository: "{{ docker_registry }}/{{ image.project }}/{{ image.repo }}"
        tag: "{{ image.tag }}"
      loop: "{{ items }}"
      loop_control:
        loop_var: "image"
      async: "{{ _async }}"
      poll: 0
      register: image_push_async_results
      environment: "{{ docker_content_trust }}"

    - name: Wait for docker push results
      vars:
        async_results: "{{ image_push_async_results }}"
      include_tasks: ./roles/common/tasks/check_sync_status.yaml
