{{- define "Certificate-dex" -}}
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: {{ template "helpers.labels.fullname" . }}
  labels: {{- include "helpers.labels.labels" . | nindent 4 }}
spec:
  secretName: {{ template "helpers.labels.fullname" . }}-tls
  issuerRef:
    name: {{ .Values.params.endpoints.tls.issuer.name }}
    # We can reference ClusterIssuers by changing the kind here.
    # The default value is Issuer (i.e. a locally namespaced Issuer)
    kind: {{ .Values.params.endpoints.tls.issuer.kind }}
  commonName: {{ .Values.params.endpoints.hostname }}
  organization:
  - Kubernetes API
  dnsNames:
  - {{ .Values.params.endpoints.hostname }}
...
{{- end -}}
{{- if .Values.params.endpoints.tls.cert_manager -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "Certificate-dex" ) }}
{{- end -}}