{{- define "Secret-dex" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "helpers.labels.fullname" . }}
  labels: {{- include "helpers.labels.labels" . | nindent 4 }}
data:
  ldap-bindpw: "{{ b64enc ( .Values.params.ldap.bind_password ) }}"
...
{{- end -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "Secret-dex" ) }}