{{- define "ServiceAccount-dex" -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "helpers.labels.fullname" . }}
  labels: {{- include "helpers.labels.labels" . | nindent 4 }}
...
{{- end -}}
{{- include "helpers.template.overlay" ( dict "Global" $ "template_definition" "ServiceAccount-dex" ) }}